<launch>
  <arg name="x" default="0.0" />
  <arg name="y" default="0.0" />
  <arg name="z" default="0.679" />
  <arg name="yaw" default="-3.1" />

  <rosparam file="$(find sia_agv_simulation)/config/sia_agv_controller.yaml" command="load"/>
  <!-- 将 Urdf 文件的内容加载到参数服务器 -->
  <param name="robot_description" command="$(find xacro)/xacro $(find sia_agv_simulation)/urdf/sia_agv_gazebo.urdf.xacro" />
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find sia_agv_simulation)/worlds/box.world"/>
  </include>
  <node name="tf_footprint_base" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 base_link base_footprint 40" />
  <node name="fake_joint_calibration" pkg="rostopic" type="rostopic" args="pub /calibrated std_msgs/Bool true" />
  <!-- 启动 gazebo -->


  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <remap from="/joint_states" to="/sia_agv/joint_states" />
  </node>


  <!-- 在 gazebo 中显示机器人模型 -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -model sia_agv -param robot_description -x $(arg x) -y $(arg y) -z $(arg z) -Y $(arg yaw)" />
</launch>