<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="sia_arm_transmission" params="hw_interface">

    <transmission name="shoulder_pan_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="shoulder_joint">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="shoulder_pan_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="upper_arm_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="upper_arm_joint">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="upper_arm_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="forearm_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="forearm_joint">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="forearm_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="wrist_1_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="wrist_1_joint">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="wrist_1_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="wrist_2_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="wrist_2_joint">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="wrist_2_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="wrist_3_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="wrist_3_joint">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="wrist_3_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

  </xacro:macro>

</robot>
