<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="sia_manipulator" >

  <xacro:arg name="transmission_hw_interface" default="PositionJointInterface"/>

  <!-- common stuff -->
  <xacro:include filename="$(find sia_manipulator_simulation)/urdf/common.gazebo.xacro" />

  <xacro:include filename="$(find sia_manipulator_simulation)/urdf/sia.gazebo.xacro" />
  <xacro:include filename="$(find sia_manipulator_simulation)/urdf/sia.transmission.xacro" />
  

  <xacro:include filename="$(find sia_manipulator_description)/urdf/sia_manipulator.xacro" />
  
  <!-- arm -->
  <xacro:sia_gazebo  flag="-1"  />
  <xacro:sia_arm_transmission  hw_interface="PositionJointInterface" />
  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  

</robot>
