<?xml version="1.0"?>
<launch>

  <!-- Start joint-trajectory-controller-->
  <rosparam file="$(find sia_robot_simulation)/controller/joint_state_controller.yaml" command="load"/>
  <rosparam file="$(find sia_robot_simulation)/controller/sia_manipulator.yaml" command="load"/>

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args=" joint_state_controller arm_controller"/>

  <node name="jnt_traj_control" pkg="rqt_joint_trajectory_controller" type="rqt_joint_trajectory_controller" args="--force-discover" respawn="false" output="screen" />

</launch>

